*{
margin: 0;
padding: 0;
font-family: "Roboto", sans-serif;
}
.category{
    overflow-x: scroll;
    
}
.category::-webkit-scrollbar{
    display: none;
}
.react-player {
    height: 77vh !important;
    width: 100% !important;
  }
.title{
    margin-left: 5rem;
   font-size: 30px;

}
.videodisplay{
    border-radius: 15px;
    margin: 0 20px;
}
.highlight{
    color: #d500f9;
}
.light{
    color: white;
}
.dark{
    color: black;
}

@media only screen and (max-width: 900px) {
   .title{
    margin-left: 10px;
    font-size: 20px;
   }
  }

  #style-1::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: #F5F5F5;
  }
  
  #style-1::-webkit-scrollbar
  {
      width: 12px;
      background-color: #F5F5F5;
  }
  
  #style-1::-webkit-scrollbar-thumb
  {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #555;
  }